<div class="showBox">
  <p class="menu-item" @click="download()">Download</p>
  <table>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>catogary</th>
      <th>audio</th>
      <th>downName</th>
      <th>loop</th>
      <th>selet</th>
    </tr>
    <tr -for="v in data">
      <td>{{v.id}}</td>
      <td>{{v.name}}</td>
      <td>{{v.catogary}}</td>
      <td><audio :src="v.base64 || v.src" controls></audio></td>
      <td><input ::model="v.downName || v.name"></td>
      <td><input type="checkbox" ::model="v.loop"></td>
      <td><input type="checkbox" ::model="select" :lable="v.id"></td>
    </tr>
  </table>
</div>

<script>
  setor.cite({
    download() {
      downAudios(this.select);
    },
    data: [],
    select: [],
  })
</script>