<!-- <div class="showBox">
  <table>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>picture</th>
      <th>downName</th>
      <th>selet</th>
    </tr>
    <tr -for="v in audios.data">
      <td>{{v.id}}</td>
      <td>{{v.name}}</td>
      <td><img :src="v.base64 || v.src" /></td>
      <td><input ::model="v.downName"></td>
      <td><input type="checkbox" ::model="audios.select" :lable="v.id"></td>
    </tr>
  </table>
  <button class="menu-item" @click="audios.download()">Download</button>
</div>

<script>
  let audios = pulsor.bind({
    download() {
      downAudios(this.select);
    },
    data: [
      { name: 123, src: "https://th.bing.com/th/id/OIP.ksUA5ojU04-qAHCB8FOZ3QHaKH?w=152&h=209&c=7&r=0&o=5&pid=1.7" }
    ].map((v, i) => {
      v.id = i;
      v.downName = "";
      return v
    }),
    select: [],
  });
  pulsor.cite({ audios })
</script> -->