<div part="div" class="checker-board">
  <board-unit ^pressChess ^index="item.k" class="board-unit" -for="item in chessList"></board-unit>
</div>

<script>
  pulsor.import("board-unit").from("src/components/BoardUnit");
  let chessList = new Array(9);
  let player = "X";
  function pressChess(index){
    console.log(index);
    player = player == "X" ? "O" : "X";
    return player;
  }
  return {chessList,pressChess}
</script>

<style>
  .checker-board {
    height: 100%;
    width: 100%;
    display: grid;
    grid: repeat(3,1fr)/repeat(3,1fr);
  }
  .board-unit {
    line-height: 100px;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    cursor: pointer;
  }
</style>